/* Rout elements */
/* General Styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Karla', sans-serif;
  font-weight: lighter;
  text-align: center;
}

body {
  max-width: 1440px;
  background-color: #18122d;
}

a {
  color: black;
}

h1 {
  background-color: white;
  padding: 1.5%;
  font-size: 25px;
  color: gray;
}

section {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inps {
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 0;
}

.inps input {
  margin-right: 10%;
}

.inps div {
  padding: 0;
}

div {
  margin: 2% auto;
  padding: 20px 5px;
  width: 30%;
}

#discribe {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

img {
  width: 25%;
  margin-left: 10px;
  margin-right: 10px;
}

img:hover {
  cursor: pointer;
}

.reactResloss {
  border-radius: 50%;
  -webkit-animation: shadloss 1s alternate ease-out;
          animation: shadloss 1s alternate ease-out;
}

@-webkit-keyframes shadloss {
  from {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.74);
            box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.74);
  }
  to {
    -webkit-box-shadow: 0px 0px 5px 7px rgba(255, 0, 0, 0.74);
            box-shadow: 0px 0px 5px 7px rgba(255, 0, 0, 0.74);
  }
}

@keyframes shadloss {
  from {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.74);
            box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.74);
  }
  to {
    -webkit-box-shadow: 0px 0px 5px 7px rgba(255, 0, 0, 0.74);
            box-shadow: 0px 0px 5px 7px rgba(255, 0, 0, 0.74);
  }
}

.reactReswin {
  border-radius: 50%;
  -webkit-animation: shadwin 1s alternate ease-out;
          animation: shadwin 1s alternate ease-out;
}

@-webkit-keyframes shadwin {
  from {
    -webkit-box-shadow: 0px 0px 5px 0px #00f214;
            box-shadow: 0px 0px 5px 0px #00f214;
  }
  to {
    -webkit-box-shadow: 0px 0px 5px 7px #00f214;
            box-shadow: 0px 0px 5px 7px #00f214;
  }
}

@keyframes shadwin {
  from {
    -webkit-box-shadow: 0px 0px 5px 0px #00f214;
            box-shadow: 0px 0px 5px 0px #00f214;
  }
  to {
    -webkit-box-shadow: 0px 0px 5px 7px #00f214;
            box-shadow: 0px 0px 5px 7px #00f214;
  }
}

.reactResdraw {
  border-radius: 50%;
  -webkit-animation: shaddraw 1s alternate ease-out;
          animation: shaddraw 1s alternate ease-out;
}

@-webkit-keyframes shaddraw {
  from {
    -webkit-box-shadow: 0px 0px 5px 0px #abb3ac;
            box-shadow: 0px 0px 5px 0px #abb3ac;
  }
  to {
    -webkit-box-shadow: 0px 0px 5px 7px #abb3ac;
            box-shadow: 0px 0px 5px 7px #abb3ac;
  }
}

@keyframes shaddraw {
  from {
    -webkit-box-shadow: 0px 0px 5px 0px #abb3ac;
            box-shadow: 0px 0px 5px 0px #abb3ac;
  }
  to {
    -webkit-box-shadow: 0px 0px 5px 7px #abb3ac;
            box-shadow: 0px 0px 5px 7px #abb3ac;
  }
}

.rounds, .board {
  border: 3px white solid;
  border-radius: 5px;
}

.rounds h2 {
  margin-bottom: 20px;
}

.board {
  position: relative;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board .userRedBox, .board .compRedBox {
  position: absolute;
  background-color: red;
  width: 55px;
  padding: 7px 6px;
  margin: 0;
  right: -30px;
  top: 38px;
  font-size: 14px;
  font-weight: bold;
}

.board .userRedBox {
  left: -30px;
  right: unset;
}

.roundShow {
  font-size: 25px;
  display: none;
}

h2 {
  font-size: 25px;
}

p {
  padding: 3%;
  font-size: 20px;
  color: orange;
  text-decoration: underline;
}

p:hover {
  cursor: pointer;
}

/* Media */
@media screen and (max-width: 800px) {
  div {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */